.header {
    width: 100%;
    .container {
        display: flex;
        flex-direction: column;
        padding: 15px 15px;
    }
    &__ad {
        height: 180px;
        width: 100%;
        background-color: rgb(191, 191, 191);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    &__home {
        width: 40px;
        height: 40px;
        background: #f3f4f6;
        border-radius: 14px;
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 18px;
            height: 16px;
        }
    }

    &__search {
        position: relative;
        height: 40px;
        border-radius: 14px;
        display: flex;
        width: calc(100% - 80px - 16px);
        input {
            height: 100%;
            padding: 0px 16px;
            width: 100%;
            border: none;
            outline: none;
            background: #f3f4f6;
            border-radius: 14px;
            font-size: 16px;
            font-weight: 500;
        }
        button {
            cursor: pointer;
            background: #f3f4f6;
            position: absolute;
            height: 100%;
            width: 36px;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            border-radius: 14px;
            align-items: center;
            justify-content: center;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__share {
        width: 40px;
        height: 40px;
        border-radius: 14px;
        background: #f3f4f6;
        button {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 14px;
            height: 16px;
        }
    }

    &__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 1400px;
        margin: auto;
        background: white;
        box-shadow: 0 0 10px rgb(0 0 0 / 15%);
        ul {
            max-width: 1400px;
            width: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            li {
                width: 20%;
                .header__menu-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 14px 0px;
                    & > img {
                        height: 20px;
                        width: 20px;
                    }
                    & > span {
                        color: #6b7280;
                        font-size: 12px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}
