.main {
    &__gender {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        &-type {
            width: calc(50% - 4px);
            min-height: 140px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 16px;
            text-decoration: none;
            @media (max-width: 992px) {
                min-height: auto;
            }
            .emoji {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                border-radius: 50%;
            }
            h1 {
                font-weight: 400;
                line-height: 1.5;
                font-size: 16px;
            }
        }
        .boy {
            background: #cffafe;
            color: #0e7490;
        }
        .girl {
            background: #fce7f3;
            color: #be185d;
        }
    }
    &__type {
        margin: 24px 0px;
        // header
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
        &-other {
            font-size: 16px;
        }

        // body
        &-body {
            position: relative;
            overflow: hidden;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                right: -30px;
                top: 0;
                width: 30px;
                height: 100%;
                box-shadow: 0px 0px 25px 40px white;
            }
            ul {
                display: flex;
                align-items: center;
                gap: 16px;
                overflow-x: auto;
                padding: 8px 0px;
                &::-webkit-scrollbar {
                    height: 6px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    border-radius: 4px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #888;
                    border-radius: 4px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #7d7d7d;
                }
                @media (max-width: 992px) {
                    &::-webkit-scrollbar {
                        height: 2px;
                    }
                }
                li {
                    padding: 8px 16px;
                    border-radius: 16px;
                    background: #f3f4f6;
                    a {
                        display: block;
                        width: max-content;
                        height: inherit;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    &__abc {
        margin: 24px 0px;
        &-title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 16px;
        }
        &-block {
            display: flex;
            align-items: center;
            gap: 8px;
            .box {
                width: calc(50% - 4px);
                border-radius: 16px;
                padding: 16px;
                h3 {
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 12px;
                }
                .alphabet {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .item {
                        padding: 8px;
                        line-height: 24px;
                        font-size: 16px;
                        width: calc(100% / 6);
                        text-align: center;
                        color: white;
                        font-weight: 700;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .boy {
                background: #06b6d4;
            }
            .girl {
                background: #ec4899;
            }
        }
    }
    &__top {
        margin: 24px 0px;
        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 16px;
        }
        &-box {
            background: #f3f4f6;
            padding: 16px;
            border-radius: 16px;
            .box {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(50% - 4px);
                    li {
                        width: 100%;
                        a {
                            display: block;
                            font-weight: 400;
                            width: 100%;
                            line-height: 1.5;
                            padding: 8px 0px;
                            color: inherit;
                        }
                    }
                }
                .boy {
                    color: #06b6d4;
                }
                .girl {
                    color: #ec4899;
                }
            }
        }
        &-btn {
            display: block;
            width: 100%;
            font-size: 16px;
            padding: 8px 16px;
            background: white;
            border-radius: 16px;
            line-height: 24px;
            text-align: center;
            margin-top: 16px;
        }
    }

    &__interesting {
        margin: 24px 0px;
        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 16px;
        }
        &-box {
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 16px;
                li {
                    background: #f3f4f6;
                    border-radius: 16px;
                    width: calc(100% / 4 - 16px);
                    a {
                        display: block;
                        width: 100%;
                        padding: 16px;
                        line-height: 24px;
                        min-height: 80px;
                        img {
                            vertical-align: middle;
                            height: 18px;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}

.hello {
    height: 200px;
}
