mixin alphabet()
    section.alphabet 
        .container 
            .alphabet__header
                h1.alphabet__title Алифбо бойича
                .alphabet__box 
                    ul.alphabet__list 
                        li.alphabet__list-item.active A
                        li.alphabet__list-item Б
                        li.alphabet__list-item В
                        li.alphabet__list-item Г
                        li.alphabet__list-item Д
                        li.alphabet__list-item Е
                        li.alphabet__list-item Ё
                        li.alphabet__list-item Ж
                        li.alphabet__list-item З
                        li.alphabet__list-item И
                        li.alphabet__list-item Й
                        li.alphabet__list-item К
                        li.alphabet__list-item Л
                        li.alphabet__list-item М
                        li.alphabet__list-item Н
                        li.alphabet__list-item О
                        li.alphabet__list-item П
                        li.alphabet__list-item Р
                        li.alphabet__list-item С
                        li.alphabet__list-item Т
                        li.alphabet__list-item У
                        li.alphabet__list-item Ф
                        li.alphabet__list-item Х
                        li.alphabet__list-item Ц
                        li.alphabet__list-item Ч
                        li.alphabet__list-item Щ
                        li.alphabet__list-item Э
                        li.alphabet__list-item Ю
                        li.alphabet__list-item Я
                        li.alphabet__list-item Ў
                        li.alphabet__list-item Қ
                        li.alphabet__list-item Ғ
                        li.alphabet__list-item Ҳ
            
            .alphabet__subtitle  
                h2.alphabet__letter A
                h3.alphabet__text харфдан бошланган исмлар
            
            .alphabet__body 
                .alphabet__filter 
                    ul.filter__list  
                        li.filter__list-item 
                            img(src="./img/alphabet.svg" alt="abc")
                            p Алифбо бойича
                        li.filter__list-item 
                            img(src="./img/eyeblack.svg" alt="eye")
                            p Куришлар сони бойича
                .alphabet__names 
                    ul 
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                        li 
                            a(href="./detail.html") Сардор
                            .item.like 
                                .like__img.noliked.active
                                    img(src="./img/noliked.svg" alt="noliked")
                                .like__img.liked 
                                    img(src="./img/liked.svg" alt="liked")
                .pagination 
                    button.pagination__btn 
                        img(src="./img/left-btn.svg" alt="left")
                    .pagination__box 
                        .pagination__box-item.active 1
                        .pagination__box-item 2
                    button.pagination__btn 
                        img(src="./img/right-btn.svg" alt="left")



