mixin detail()
    section.detail
        .container 
            .detail__means
                h1.detail__means-title Муҳаммад
                p.detail__means-text Мақтовга, олқишларга сазовор. Пайғамбаримиз Муҳаммад соллаллоҳу алайҳи васалламнинг (Муҳаммад ибн Абдуллоҳ, 570 ёки 571 Макка - 632, Мадина) муборак исмлари. Муҳаммад Пайғамбар (соллаллоҳу алайҳи васалламнинг) Аллоҳнинг энг яқин дўсти, камтарин, дунёга келган энг сўнгги пайғамбардир.
                .detail__means-box 
                    .item.like 
                        .like__img.noliked.active
                            img(src="./img/noliked.svg" alt="noliked")
                        .like__img.liked 
                            img(src="./img/liked.svg" alt="liked")
                        .like__count 2553
                    .item.right 
                        .right__item 
                            img(src="./img/note.svg" alt="category")
                            a(href="#").right__item-text Арабча
                        .right__item 
                            img(src="./img/eye.svg" alt="category")
                            p.right__item-text 999999
            
            .detail__facts 
                ul 
                    li 
                        h2 1
                        p 
                            | Сайтдаги 
                            br 
                            | ўрни
                    li 
                        h2 1
                        p 
                            | Ўғил болалар
                            br
                            | орасидаги ўрни
                    li 
                        h2 8
                        p
                            | Ҳарфлар
                            br 
                            | сони
            
            .detail__reverse 
                p.detail__reverse-text Исмнинг тескари ёзилиши
                h2.detail__reverse-name Даммаҳум
            
            .detail__about 
                h2.detail__about-title Муҳаммад исмининг маъноси
                p.detail__about-text Ушбу Муҳаммад исми асосан ўғил болаларга қўйилади ва бу исм арабча бўлиб, қуйидаги маъноларга эга: Мақтовга, олқишларга сазовор. Пайғамбаримиз Муҳаммад соллаллоҳу алайҳи васалламнинг (Муҳаммад ибн Абдуллоҳ, 570 ёки 571 Макка - 632, Мадина) муборак исмлари. Муҳаммад Пайғамбар (соллаллоҳу алайҳи васалламнинг) Аллоҳнинг энг яқин дўсти, камтарин, дунёга келган энг сўнгги пайғамбардир.
                button.detail__about-btn Қўшимча маълумот юбориш
            
            .detail__famous
                .detail__famous-top 
                    h2.detail__famous-title Муҳаммад исмли машҳур инсонлар
                    .detail__famous-box 
                        ul 
                            li 
                                a(href="#") Muhammad Yusuf
                                h3 Шоир
                            li 
                                a(href="#") Muhammad Yusuf
                                h3 Шоир
                            li 
                                a(href="#") Muhammad Yusuf
                                h3 Шоир
                .detail__famous-bottom
                    p.content Муҳаммад исмли машҳурларни билсангиз, бизга 
                        a(href="#") хабар беринг
            
            .detail__like 
                h2.detail__like-title Муҳаммад исмини ёқтирганлар, қуйидаги исмларни ҳам ёқтиришади
                .detail__like-box 
                    ul 
                        li.boy 
                            a(href="./detail.html") Мадина
                        li.girl
                            a(href="./detail.html") Сардор
                        li.boy 
                            a(href="./detail.html") Мадина
                        li.boy 
                            a(href="./detail.html") Мадина
                        li.girl
                            a(href="./detail.html") Сардор
                        li.boy 
                            a(href="./detail.html") Мадина
                        li.girl
                            a(href="./detail.html") Сардор

