mixin footer()
    footer.footer   
        .container 
            a(href="#").footer__add Сайтда реклама бериш 
            h3.footer__copyright © Ismlarmanosi.uz — Ўзбек исмларининг маъноси. Исмлар маъноси, 2023–2023
            h3.footer__age 18+