mixin header()
    header.header 
        .container 
            .header__ad
                a(href="#")
                    img(src="@img/ad.jpeg", alt="ad" draggable="false")
            .header__nav
                