mixin header()
    header.header 
        .container 
            .header__ad
                h1 ad

            .header__nav
                .header__home 
                    a(href="index.html") 
                        img(src="./img/house.svg" alt="home")
                .header__search 
                    input(type="text" name="search" placeholder="Исмингизни маносини кидиринг")
                    button(type="submit") 
                        img(src="./img/search.svg" alt="search")    
                .header__share 
                    button.header__share-btn 
                        img(src="./img/share.svg" alt="send")
                    ul.header__share-list 
                        li 
                            a(href="#10") 
                                img(src="./img/telegram.svg" alt="telegram")
                                p Telegram 
                        li 
                            a(href="#10")
                                img(src="./img/facebook.svg" alt="facebook")
                                p Facebook 
                        li 
                            a(href="#10")
                                img(src="./img/share.svg" alt="share")
                                p Ulashing

            .header__menu 
                ul 
                    li.header__menu-item  
                        a(href="./most.html").header__menu-link
                            img(src="./img/star.svg" alt="top")
                            span Топ 100
                    li.header__menu-item 
                        a(href="#").header__menu-link
                            img(src="./img/search.svg" alt="search")
                            span Кидириш
                    li.header__menu-item 
                        a(href="./interest.html").header__menu-link
                            img(src="./img/like.svg" alt="like")
                            span Бу кизик
                    li.header__menu-item 
                        a(href="#").header__menu-link 
                            img(src="./img/heart.svg" alt="heart")
                            span Севимлилар
                    li.header__menu-item
                        .header__menu-link#langBtn
                            img(src="./img/net.svg" alt="net")
                            span Лотинча
                        ul.lang  
                            li.lang__item Лотинча
                            li.lang__item Русча

        .filter