mixin interest()
    .interest 
        .container 
            h1.interest__title Қизиқарли рукнлар

            ul.interest__list 
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")
                li.interest__list-item 
                    a(href="./category.html") 
                        | 2021 йилда энг коп койилган исмлар    
                        img(src="./img/right.svg" alt="right")


