mixin main()
    main.main 
        .container 
            .main__gender 
                a(href="#").main__gender-type.boy
                    .emoji 👦
                    h1 Болалар исми
                a(href="#").main__gender-type.girl
                    .emoji 👧
                    h1 Кизлар исми
            .main__type 
                .main__type-header 
                    h1.main__type-title Рукнлар 
                    a(href="#").main__type-other Хамма рукнлар 
                .main__type-body 
                    ul 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Узбекча 
                        li 
                            a(href="#").item Козокча 
                        li 
                            a(href="#").item Русча 
                        li 
                            a(href="#").item Форс-тожикча 
                        li 
                            a(href="#").item Яхудийча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
