mixin main()
    main.main 
        .container 
            .main__gender 
                a(href="./names.html").main__gender-type.boy
                    .emoji 👦
                    h1 Болалар исми
                a(href="./names.html").main__gender-type.girl
                    .emoji 👧
                    h1 Кизлар исми

            .main__type 
                .main__type-header 
                    h1.main__type-title Рукнлар 
                    a(href="#").main__type-other Хамма рукнлар 
                .main__type-body 
                    ul 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Узбекча 
                        li 
                            a(href="./category.html").item Козокча 
                        li 
                            a(href="./category.html").item Русча 
                        li 
                            a(href="./category.html").item Форс-тожикча 
                        li 
                            a(href="./category.html").item Яхудийча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 

            .main__abc 
                h1.main__abc-title Алифбо бойича
                .main__abc-block   
                    .box.boy 
                        h3 Болалар исми
                        ul.alphabet
                            li.item
                                a(href="./alphabet.html") А
                            li.item
                                a(href="./alphabet.html") Б
                            li.item
                                a(href="./alphabet.html") В
                            li.item
                                a(href="./alphabet.html") Г
                            li.item
                                a(href="./alphabet.html") Д
                            li.item
                                a(href="./alphabet.html") Е
                            li.item
                                a(href="./alphabet.html") Ё
                            li.item
                                a(href="./alphabet.html") Ж
                            li.item
                                a(href="./alphabet.html") З
                            li.item
                                a(href="./alphabet.html") И
                            li.item
                                a(href="./alphabet.html") Й
                            li.item
                                a(href="./alphabet.html") К
                            li.item
                                a(href="./alphabet.html") Л
                            li.item
                                a(href="./alphabet.html") М
                            li.item
                                a(href="./alphabet.html") Н
                            li.item
                                a(href="./alphabet.html") О
                            li.item
                                a(href="./alphabet.html") П
                            li.item
                                a(href="./alphabet.html") Р
                            li.item
                                a(href="./alphabet.html") С
                            li.item
                                a(href="./alphabet.html") Т
                            li.item
                                a(href="./alphabet.html") У
                            li.item
                                a(href="./alphabet.html") Ф
                            li.item
                                a(href="./alphabet.html") Х
                            li.item
                                a(href="./alphabet.html") Ц
                            li.item
                                a(href="./alphabet.html") Ч
                            li.item
                                a(href="./alphabet.html") Ш
                            li.item
                                a(href="./alphabet.html") Э
                            li.item
                                a(href="./alphabet.html") Ю
                            li.item
                                a(href="./alphabet.html") Я
                            li.item
                                a(href="./alphabet.html") Ў
                            li.item
                                a(href="./alphabet.html") Қ
                            li.item
                                a(href="./alphabet.html") Ғ   
                            li.item
                                a(href="./alphabet.html") Ҳ
                    .box.girl 
                        h3 Кизлар исми
                        ul.alphabet
                            li.item
                                a(href="./alphabet.html") А
                            li.item
                                a(href="./alphabet.html") Б
                            li.item
                                a(href="./alphabet.html") В
                            li.item
                                a(href="./alphabet.html") Г
                            li.item
                                a(href="./alphabet.html") Д
                            li.item
                                a(href="./alphabet.html") Е
                            li.item
                                a(href="./alphabet.html") Ё
                            li.item
                                a(href="./alphabet.html") Ж
                            li.item
                                a(href="./alphabet.html") З
                            li.item
                                a(href="./alphabet.html") И
                            li.item
                                a(href="./alphabet.html") Й
                            li.item
                                a(href="./alphabet.html") К
                            li.item
                                a(href="./alphabet.html") Л
                            li.item
                                a(href="./alphabet.html") М
                            li.item
                                a(href="./alphabet.html") Н
                            li.item
                                a(href="./alphabet.html") О
                            li.item
                                a(href="./alphabet.html") П
                            li.item
                                a(href="./alphabet.html") Р
                            li.item
                                a(href="./alphabet.html") С
                            li.item
                                a(href="./alphabet.html") Т
                            li.item
                                a(href="./alphabet.html") У
                            li.item
                                a(href="./alphabet.html") Ф
                            li.item
                                a(href="./alphabet.html") Х
                            li.item
                                a(href="./alphabet.html") Ц
                            li.item
                                a(href="./alphabet.html") Ч
                            li.item
                                a(href="./alphabet.html") Ш
                            li.item
                                a(href="./alphabet.html") Э
                            li.item
                                a(href="./alphabet.html") Ю
                            li.item
                                a(href="./alphabet.html") Я
                            li.item
                                a(href="./alphabet.html") Ў
                            li.item
                                a(href="./alphabet.html") Қ
                            li.item
                                a(href="./alphabet.html") Ғ   
                            li.item
                                a(href="./alphabet.html") Ҳ

            .main__top 
                h1.main__top-title Энг кўп қидирилган исмлар
                .main__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        ul.girl
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                    a(href="#").main__top-btn Энг кўп қидирилган исмлар

            .main__top 
                h1.main__top-title Топ 100
                .main__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        ul.girl
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                            li 
                                a(href="./detail.html") Мадина
                    a(href="#").main__top-btn Барча топ исмлар

            .main__interesting 
                .main__interesting-title Кизикарли рукнлар
                .main__interesting-box 
                    ul 
                        li 
                            a(href="./category.html")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | Арабча исмлар   
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | Бек кошмчаси бор чиройли исмлар  
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")

