mixin main()
    main.main 
        .container 
            .main__gender 
                a(href="#").main__gender-type.boy
                    .emoji 👦
                    h1 Болалар исми
                a(href="#").main__gender-type.girl
                    .emoji 👧
                    h1 Кизлар исми

            .main__type 
                .main__type-header 
                    h1.main__type-title Рукнлар 
                    a(href="#").main__type-other Хамма рукнлар 
                .main__type-body 
                    ul 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Узбекча 
                        li 
                            a(href="#").item Козокча 
                        li 
                            a(href="#").item Русча 
                        li 
                            a(href="#").item Форс-тожикча 
                        li 
                            a(href="#").item Яхудийча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 
                        li 
                            a(href="#").item Арабча 

            .main__abc 
                h1.main__abc-title Алифбо бойича
                .main__abc-block   
                    .box.boy 
                        h3 Болалар исми
                        ul.alphabet
                            li.item
                                a(href="#") А
                            li.item
                                a(href="#") Б
                            li.item
                                a(href="#") В
                            li.item
                                a(href="#") Г
                            li.item
                                a(href="#") Д
                            li.item
                                a(href="#") Е
                            li.item
                                a(href="#") Ё
                            li.item
                                a(href="#") Ж
                            li.item
                                a(href="#") З
                            li.item
                                a(href="#") И
                            li.item
                                a(href="#") Й
                            li.item
                                a(href="#") К
                            li.item
                                a(href="#") Л
                            li.item
                                a(href="#") М
                            li.item
                                a(href="#") Н
                            li.item
                                a(href="#") О
                            li.item
                                a(href="#") П
                            li.item
                                a(href="#") Р
                            li.item
                                a(href="#") С
                            li.item
                                a(href="#") Т
                            li.item
                                a(href="#") У
                            li.item
                                a(href="#") Ф
                            li.item
                                a(href="#") Х
                            li.item
                                a(href="#") Ц
                            li.item
                                a(href="#") Ч
                            li.item
                                a(href="#") Ш
                            li.item
                                a(href="#") Э
                            li.item
                                a(href="#") Ю
                            li.item
                                a(href="#") Я
                            li.item
                                a(href="#") Ў
                            li.item
                                a(href="#") Қ
                            li.item
                                a(href="#") Ғ   
                            li.item
                                a(href="#") Ҳ
                    .box.girl 
                        h3 Кизлар исми
                        ul.alphabet
                            li.item
                                a(href="#") А
                            li.item
                                a(href="#") Б
                            li.item
                                a(href="#") В
                            li.item
                                a(href="#") Г
                            li.item
                                a(href="#") Д
                            li.item
                                a(href="#") Е
                            li.item
                                a(href="#") Ё
                            li.item
                                a(href="#") Ж
                            li.item
                                a(href="#") З
                            li.item
                                a(href="#") И
                            li.item
                                a(href="#") Й
                            li.item
                                a(href="#") К
                            li.item
                                a(href="#") Л
                            li.item
                                a(href="#") М
                            li.item
                                a(href="#") Н
                            li.item
                                a(href="#") О
                            li.item
                                a(href="#") П
                            li.item
                                a(href="#") Р
                            li.item
                                a(href="#") С
                            li.item
                                a(href="#") Т
                            li.item
                                a(href="#") У
                            li.item
                                a(href="#") Ф
                            li.item
                                a(href="#") Х
                            li.item
                                a(href="#") Ц
                            li.item
                                a(href="#") Ч
                            li.item
                                a(href="#") Ш
                            li.item
                                a(href="#") Э
                            li.item
                                a(href="#") Ю
                            li.item
                                a(href="#") Я
                            li.item
                                a(href="#") Ў
                            li.item
                                a(href="#") Қ
                            li.item
                                a(href="#") Ғ   
                            li.item
                                a(href="#") Ҳ

            .main__top 
                h1.main__top-title Энг кўп қидирилган исмлар
                .main__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="detail.html") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                        ul.girl
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                    a(href="#").main__top-btn Энг кўп қидирилган исмлар

            .main__top 
                h1.main__top-title Топ 100
                .main__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                            li 
                                a(href="#") Сардор
                        ul.girl
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                            li 
                                a(href="#") Мадина
                    a(href="#").main__top-btn Барча топ исмлар

            .main__interesting 
                .main__interesting-title Кизикарли рукнлар
                .main__interesting-box 
                    ul 
                        li 
                            a(href="#")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="#")
                                | Арабча исмлар   
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="#")
                                | Бек кошмчаси бор чиройли исмлар  
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="#")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="#")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="#")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")

