mixin most()
    section.most 
        .container 
            h1.most__title Энг кўп қидирилган исмлар
            p.most__subtitle Ушбу саҳифада сайтимиз бўйича энг кўп қидирилган исмлар рўйхати берилган

            .most__box.boy 
                h2.most__box-title Болалар исми
                ul.most__list
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Али
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/noliked.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/liked.svg" alt="liked")
                a(href="./top.html").most__box-btn Хаммасини кориш

            .most__box.girl 
                h2.most__box-title Кизлар исми
                ul.most__list
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")
                    li.most__list-item 
                        h3.most__list-num 1
                        a(href="./detail.html").most__list-link Мадина
                        .item.like 
                            .like__img.noliked.active
                                img(src="./img/nolikedgirl.svg" alt="noliked")
                            .like__img.liked 
                                img(src="./img/likedgirl.svg" alt="liked")

                a(href="./top.html").most__box-btn Хаммасини кориш

            .interesting 
                .interesting-title Кизикарли рукнлар
                .interesting-box 
                    ul 
                        li 
                            a(href="./category.html")
                                | 2021 йилда энг коп койилган исмлар    
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | Арабча исмлар   
                                img(src="./img/right.svg" alt="right")
                        li 
                            a(href="./category.html")
                                | Бек кошмчаси бор чиройли исмлар  
                                img(src="./img/right.svg" alt="right")

