mixin names()
    section.names 
        .container 
            .names__gender 
                a(href="./names.html").names__gender-type.boy
                    .emoji 👦
                    h1 Болалар исми
                //- a(href="#").main__gender-type.girl
                //-     .emoji 👧
                //-     h1 Кизлар исми

            .names__type 
                .names__type-header 
                    h1.names__type-title Рукнлар 
                    a(href="#").names__type-other Хамма рукнлар 
                .names__type-body 
                    ul 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Узбекча 
                        li 
                            a(href="./category.html").item Козокча 
                        li 
                            a(href="./category.html").item Русча 
                        li 
                            a(href="./category.html").item Форс-тожикча 
                        li 
                            a(href="./category.html").item Яхудийча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 
                        li 
                            a(href="./category.html").item Арабча 

            .alphabet__header
                h1.alphabet__title Алифбо бойича
                .alphabet__box 
                    ul.alphabet__list 
                        li.alphabet__list-item.active A
                        li.alphabet__list-item Б
                        li.alphabet__list-item В
                        li.alphabet__list-item Г
                        li.alphabet__list-item Д
                        li.alphabet__list-item Е
                        li.alphabet__list-item Ё
                        li.alphabet__list-item Ж
                        li.alphabet__list-item З
                        li.alphabet__list-item И
                        li.alphabet__list-item Й
                        li.alphabet__list-item К
                        li.alphabet__list-item Л
                        li.alphabet__list-item М
                        li.alphabet__list-item Н
                        li.alphabet__list-item О
                        li.alphabet__list-item П
                        li.alphabet__list-item Р
                        li.alphabet__list-item С
                        li.alphabet__list-item Т
                        li.alphabet__list-item У
                        li.alphabet__list-item Ф
                        li.alphabet__list-item Х
                        li.alphabet__list-item Ц
                        li.alphabet__list-item Ч
                        li.alphabet__list-item Щ
                        li.alphabet__list-item Э
                        li.alphabet__list-item Ю
                        li.alphabet__list-item Я
                        li.alphabet__list-item Ў
                        li.alphabet__list-item Қ
                        li.alphabet__list-item Ғ
                        li.alphabet__list-item Ҳ

            .names__top 
                h1.names__top-title Энг кўп қидирилган исмлар
                .names__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        //- ul.girl
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                    a(href="./most.html").names__top-btn Энг кўп қидирилган исмлар

            .names__top 
                h1.names__top-title Топ 100
                .names__top-box
                    .box 
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        ul.boy
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                            li 
                                a(href="./detail.html") Сардор
                        //- ul.girl
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                        //-     li 
                        //-         a(href="./detail.html") Мадина
                    a(href="./most.html").names__top-btn Барча топ исмлар

